<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <C4.My.MySettings>
            <setting name="BoardColour" serializeAs="String">
                <value>ButtonFace</value>
            </setting>
            <setting name="P1Colour" serializeAs="String">
                <value />
            </setting>
            <setting name="P2Colour" serializeAs="String">
                <value />
            </setting>
            <setting name="GridColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftGame" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
        </C4.My.MySettings>
    </userSettings>
</configuration>